body {
    background: url("imagenes/fondo.png") no-repeat center center fixed;
    background-size:100%;
    color: #f39c12;
    font-family: 'Courier New', monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: rgba(30, 15, 0, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px orange;
    text-align: center;
    width: 300px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2c1a00;
    color: white;
}

button {
    background: orange;
    color: black;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: darkorange;
}

.nota {
    font-size: 0.9em;
    margin-top: 10px;
    color: #ffb84d;
}
