body{
    background: url("imagenes/fondoInicio.png")no-repeat center center fixed;
    background-size:100%;
}

.card {
  background-color: #b62626 ; 
  margin-top: 5%;
  padding: 20px; 
  margin-left: 12%;
  margin-right: 12%;
}

#logo {
  display: flex;
  width: 10%;
  height: 10%;
}

#card1 {
  background-color: #ffffff98 ; 
  margin: 0%;
  padding: 20px;
  margin-left: 0%;
  margin-right: 0%;
}

#card2 {
  background-color: #831818 ; 
  margin: 2%;
  padding: 20px;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

#card3 {
  background-color: #da46465d ; 
  margin: 0%;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

#nivel1, #nivel2, #nivel3 {
  background-color: #222 ; 
  color: rgba(255, 255, 255, 0.658); 
  padding: 8%;
  width: 80%;
  border-radius: 10px;
  text-align: center;
}

.niveles {
  display:block;                               
  gap: 1%;                    
  margin-top: 5%;
}
