body{
    background: url("imagenes/fondoInicio.png")no-repeat center center fixed;
    background-size:100%;
}

.card {
  background-color: #b62626 !important; 
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

#card2 {
  background-color: #831818 !important; 
  margin: 3px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

#card3 {
  background-color: #da46465d !important; 
  margin: 3px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 300px;
  margin-right: 300px;
}

#nivel1, #nivel2, #nivel3 {
  background-color: #222; 
  color: white;
  padding: 70px;
  width: 15%;
  border-radius: 10px;
  text-align: center;
}

.niveles {
  display: flex;                /* pone los niveles en fila */
  justify-content: center;      /* centra horizontalmente */
  align-items: center;          /* centra verticalmente */
  gap: 5px;                    /* espacio entre niveles */
  margin-top: 10px;
  flex-wrap: wrap;
}
